<h1>ARTISTS</h1>

<nav>
  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-4">

        <% @users.each do |user| %>

        <li class="block-grid-item"> 
          <div class="user_content">
           
            <%= link_to user.name, user %>
            <%#= user.email %>

          </div>
          <%= link_to image_tag(user.user_avatar.url), user %>


          <%#= link_to 'Show', user %>
          <%= link_to 'Edit', edit_user_registration_path if can? :edit, User%>
          <%= link_to 'Destroy', user, method: :destroy, data: { confirm: 'Are you sure?' } if can?(:destroy, User)%>
        </li>
        <% end %>


      </ul>
    </div>
  </div>  

</nav>


<%= link_to 'New Artist', new_user_registration_path if can? :create, User %>
