<h1>SONGS</h1>

<nav>
  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-4">
        <% @songs.each do |song| %>

        <li class="block-grid-item"> 
          <div class="user_content">
         
            <%=link_to song.name, song %>

            
          </div>


          <%= link_to image_tag(song.song_image.url), song %>

          <%= song.user.name %>
          <%= song.genre.try(:name) %>
          <%#= link_to 'Show', song %>
          <%= link_to 'Edit', edit_song_path(song) if can? :edit, song %>
          <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, song)%>

        <% end %>

      </ul>
    </div>
  </div>  

</nav>

<%= link_to 'New Song', new_song_path if can? :create, Song %>
