<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@song.song_image.thumb.url), @song.song_image.detail.url %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @song.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @song.user_id %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre_id %>
</p>
<h3>Add New Comment</h3>
Form

<h3>Comments Added</h3>
<% @song.comments.each do |comment| %>
  <%= comment.description %></br>
  Added <%= time_ago_in_words(comment.created_at) %> ago</br>
  By <%= link_to comment.user.try(:name), user_path(comment.user) %></br></br>
<% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
