<h1>SEARCH</h1>

<nav>
  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-2">

        <li class="block-grid-item">
          <div class="content"><%= link_to 'HOME', home_path %></div>
          <%= link_to image_tag("home 2.jpg"), home_path %>
        </li>
        <li class="block-grid-item">
          <div class="content"><%= link_to 'BY GENRE', genres_path %></div>
         <%= link_to image_tag("by genre.jpg"), genres_path %>
       </li>
       <li class="block-grid-item">
        <div class="content"><%= link_to 'BY SONGS', songs_path %></div>
        <%= link_to image_tag("by songs.jpg"), songs_path%>   
      </li>
      <li class="block-grid-item">
       <div class="content"><%= link_to 'BY ARTISTS', users_path  %></div>
       <%= link_to image_tag("by artist.jpg"), users_path %>
     </li>
   </ul>
 </div>
</div>  
</nav>

